* {
  box-sizing: border-box;
  font-family: "Gilroy";
}
.main {
  margin: auto;
  width: 600px;
  box-shadow: 0px 5px 10px rgb(206, 212, 214);
  border-radius: 15px 15px;
}
.main img {
  width: 100%;
}


.detail-block {
  display: flex;
  width: 570px;
  height: 120px;

  margin: auto;
  margin-top: 30px;
}
.name-price-block {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  font-size: 35px;
  font-weight: 700;
}
.btn {
  cursor: pointer;
  background: none;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 30px;
  border-radius: 10px 10px;
  border: 3px solid rgb(52, 140, 247);
  color: rgb(52, 140, 247);
}
.btn:hover {
  background-color: rgb(52, 140, 247) ;
  color: white;
}
.detail-btn-block {
  position: relative;
  margin: auto;
  padding-right: 40px;
}
.desc {
  padding-top: 30px;
  font-size: 30px;
  width: 570px;
  margin: auto;
}
.addBtn {
  cursor: pointer;
  margin: 30px 0px 30px 30px;
  font-size: 30px;
  padding: 10px 25px;
  border: 3px solid rgb(32, 156, 57);
  color: white;
  background-color: rgb(32, 156, 57);
  border-radius: 8px 8px;
}

.afterBuy {
  margin: 30px 0px 30px 30px;
  font-size: 30px;
  padding: 10px 25px;
  border: 3px solid rgb(130, 209, 146);
  color: white;
  background-color: rgb(130, 209, 146);
  border-radius: 8px 8px;
}

hr{
  width: 90%;
}

.deleteBtn {
  cursor: pointer;
  color: rgb(221, 36, 36);
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;
  margin: 0px 0px 30px 30px;
}

.infoblock {
  position:absolute;
  box-shadow: 0px 5px 10px rgb(206, 212, 214);
  background-color: white;
  left: 120px;
  top: -70px;
  width: 400px;
  padding: 0px 5px 20px 20px;

}
.textInfo{
  width: 85%;
  font-size: 20px;
  text-align: justify;
}

.endInfo{
  cursor: pointer;
  background: none;
  border: none;
  color: red;
  font-size: 20px;
}
.endBlock{
  margin: auto;
  text-align: right;
}